proyecto1/src/main/java/proyecto1/outputMapper1.txt
proyecto1/src/main/java/proyecto1/outputMapper2.txt
proyecto1/src/main/java/proyecto1/outputMapper3.txt
proyecto1/src/main/java/proyecto1/outputMapper4.txt
proyecto1/src/main/java/proyecto1/outputMapper5.txt
proyecto1/src/main/java/proyecto1/outputMapper6.txt
proyecto1/src/main/java/proyecto1/outputReducer1.txt
proyecto1/src/main/java/proyecto1/outputReducer2.txt
proyecto1/src/main/java/proyecto1/outputReducer3.txt
proyecto1/src/main/java/proyecto1/finalReducer.txt
proyecto1/target/classes/proyecto1/outputMapper1.txt
proyecto1/target/classes/proyecto1/outputMapper2.txt
proyecto1/target/classes/proyecto1/outputMapper5.txt
proyecto1/target/classes/proyecto1/outputMapper4.txt
proyecto1/target/classes/proyecto1/outputMapper3.txt
proyecto1/target/classes/proyecto1/outputMapper6.txt
proyecto1/target/classes/proyecto1/outputReducer1.txt
proyecto1/target/classes/proyecto1/outputReducer2.txt
proyecto1/target/classes/proyecto1/outputReducer3.txt
proyecto1/target/classes/proyecto1/finalReducer.txt
.vscode/settings.json
proyecto3/reviews
proyecto3/lemmatized_reviews
proyecto3/all_reviews.txt
proyecto3/word_count_by_review
proyecto3/word_count_all_reviews.txt
proyecto7/untitled_project