proyecto1/src/main/java/proyecto1/outputMapper1.txt
proyecto1/src/main/java/proyecto1/outputMapper2.txt
proyecto1/src/main/java/proyecto1/outputMapper3.txt
proyecto1/src/main/java/proyecto1/outputMapper4.txt
proyecto1/src/main/java/proyecto1/outputMapper5.txt
proyecto1/src/main/java/proyecto1/outputMapper6.txt
proyecto1/src/main/java/proyecto1/outputReducer1.txt
proyecto1/src/main/java/proyecto1/outputReducer2.txt
proyecto1/src/main/java/proyecto1/outputReducer3.txt
proyecto1/src/main/java/proyecto1/finalReducer.txt
proyecto1/target/classes/proyecto1/outputMapper1.txt
proyecto1/target/classes/proyecto1/outputMapper2.txt
proyecto1/target/classes/proyecto1/outputMapper5.txt
proyecto1/target/classes/proyecto1/outputMapper4.txt
proyecto1/target/classes/proyecto1/outputMapper3.txt
proyecto1/target/classes/proyecto1/outputMapper6.txt
proyecto1/target/classes/proyecto1/outputReducer1.txt
proyecto1/target/classes/proyecto1/outputReducer2.txt
proyecto1/target/classes/proyecto1/outputReducer3.txt
proyecto1/target/classes/proyecto1/finalReducer.txt
.vscode/settings.json
proyecto3\reviews